@model Projeto.WEB.Areas.AreaRestrita.Models.ClubR.CadastroViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AreaRestrita/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<link href="~/Content/CssCustom.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>

<script src="~/Scripts/ClubR/cadastro.js"></script>

<script src="~/Scripts/jQuery-Mask-Plugin-v1.7.7-0/jquery.mask.js"></script>

<h4>Cadastro Cliente ClubR</h4>
<hr />

@using (Html.BeginForm("Cadastro", "ClubR", FormMethod.Post,
        new { @enctype = "multipart/form-data" }))
{
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-1">
                    <label>CODUN</label>
                    <input type="text" id="txtCodun" class="form-control" name="Codun" />
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.Codun)</span>
                </div>
                <div class="col-md-1">
                    <label>Contrato</label>
                    <input type="text" id="txtNumeroContrato" class="form-control" name="NumeroContrato" readonly />
                </div>
                <div class="col-md-3">
                    <label>Razao Social</label>
                    <input type="text" id="txtRazaoSocial" class="form-control" name="RazaoSocial" />
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.RazaoSocial)</span>
                </div>
                <div class="col-md-3">
                    <label>Nome do Responsável</label>
                    <input type="text" id="txtNomeResponsavel" class="form-control" name="NomeResponsavel" />
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.NomeResponsavel)</span>
                </div>
                <div class="col-md-2">
                    <label>CPF do Responsável</label>
                    <input type="text" id="txtCpfResponsavel" class="form-control cpf" name="CpfResponsavel" />
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.CpfResponsavel)</span>
                </div>
                <div class="col-md-2">
                    <label>Data Negociação</label>
                    <div class='input-group'>
                        <input type="text" class="form-control date" id="txtDataNegociacao" name="DataNegociacao" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.DataNegociacao)</span>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-2">
                    <label>Modalidade</label>
                    @Html.EnumDropDownListFor(m => m.ModalidadeClubR, "- Selecione -", new { Class = "form-control", id = "optModalidade" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.ModalidadeClubR)</span>
                </div>
                <div class="col-md-2">
                    <label>Período</label>
                    <select class="form-control" id="optPeriodo" name="PeriodoMeses">
                        <option value="">-Selecione a Modalidade Primeiro-</option>
                    </select>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.PeriodoMeses)</span>
                </div>
                <div class="col-md-2">
                    <label>Data Inicio Contrato</label>
                    <div class='input-group'>
                        <input type="text" class="form-control date" id="txtDataInicio" name="DataInicioContrato" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.DataInicioContrato)</span>
                </div>
                <div class="col-md-2">
                    <label>Data Fim Contrato</label>
                    <div class='input-group'>
                        <input type="text" class="form-control date" id="txtDataFim" name="DataFimContrato" readonly />
                    </div>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.DataFimContrato)</span>
                </div>
                <div class="col-md-2">
                    <label>Média Mensal Histórica</label>
                    <input type="text" class="form-control money" id="txtMediaHistorica" name="MediaHistorica" />
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.MediaHistorica)</span>
                </div>
                <div class="col-md-2">
                    <label>Meta para o Período</label>
                    <input type="text" class="form-control money" id="txtMetaPeriodo" name="MetaPeriodo" />
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.MetaPeriodo)</span>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-2">
                    <label>Crescimento Proposto</label>
                    <input type="text" class="form-control" id="txtCrescimentoProposto" name="CrescimentoProposto" readonly />
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.CrescimentoProposto)</span>
                </div>
                <div class="col-md-2">
                    <label>Prazo Pagamento</label>
                    <select class="form-control" id="optPrazoPagamento" name="PrazoPagamento">
                        <option>2 Vezes</option>
                        <option>3 Vezes</option>
                        <option>4 Vezes</option>
                        <option>9 Vezes</option>
                        <option>30 Dias</option>
                    </select>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.PrazoPagamento)</span>
                </div>
                <div class="col-md-2">
                    <label>Desconto</label>
                    <select class="form-control" id="optDesconto" name="Desconto"></select>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.Desconto)</span>
                </div>
                <div class="col-md-2">
                    <label>Rebate Percentual</label>
                    <select class="form-control" id="optRebatePercent" name="RebatePercent">
                        <option value="">-Selecione-</option>
                        <option value="0.03">3%</option>
                        <option value="0.04">4%</option>
                        <option value="0.05">5%</option>
                    </select>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.RebatePercent)</span>
                </div>
                <div class="col-md-2">
                    <label>Rebate Valor</label>
                    <input type="text" class="form-control" id="txtRebateValor" readonly />
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3">
                    <label>Contrato Assinado</label>
                    <input type="file" id="uplFile" class="form-control" name="Contrato" />
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.Contrato)</span>
                </div>
                <div class="col-md-4">
                    <textarea id="txtObservacao" placeholder="Observação..." class="form-control" name="Obervacao"></textarea>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.Obervacao)</span>
                </div>

                <div class="col-md-2">
                    <input type="submit" value="Cadastrar" id="btnCadastrar" class="btn btn-primary" />
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                @ViewBag.Mensagem
            </div>
        </div>
}