@model Projeto.WEB.Areas.AreaRestrita.Models.SemCampanha.CadastroViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AreaRestrita/Views/_Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/CssCustom.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jQuery-Mask-Plugin-v1.7.7-0/jquery.mask.js"></script>

<script src="~/Scripts/SemCampanha/cadastro.js"></script>

<h4>Cadastro Cliente Sem Campanha</h4>
<h6>(*) Campos obrigatórios</h6>
<hr />

@using (Html.BeginForm("Cadastro", "SemCampanha", FormMethod.Post, new { id = "formSemCampanhaCadastro" }))
{
    @Html.AntiForgeryToken()

    if (TempData["Sucesso"] != null)
    {
        if ((bool)TempData["Sucesso"])
        {
            <div class="alert alert-success text-center form-group-lg"><strong>@TempData["Resultado"]</strong></div>
        }
        else
        {
            <div class="alert alert-danger text-center form-group-lg"><strong>@TempData["Resultado"]</strong></div>
        }
    }

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <label>IdTransacao</label>
                @Html.TextBoxFor(m => m.IdTransacao, new { Class = "form-control", id = "txtIdTransacao", Readonly = "readonly" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.IdTransacao)</span>
            </div>
            <div class="col-md-1">
                <label>CODUN</label>
                @Html.TextBoxFor(m => m.Codun, new { Class = "form-control", id = "txtCodun" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Codun)</span>
            </div>
            <div class="col-md-1">
                <label>CodCliente</label>
                @Html.TextBoxFor(m => m.CodCliente, new { Class = "form-control", id = "txtCodCliente" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.CodCliente)</span>
            </div>
            <div class="col-md-1">
                <label>Versão</label>
                @Html.TextBoxFor(m => m.Versao, new { Class = "form-control", id = "txtVersao", Readonly = "readonly" })
            </div>
            <div class="col-md-3">
                <label>*Razao Social</label>
                @Html.TextBoxFor(m => m.RazaoSocial, new { Class = "form-control", id = "txtRazaoSocial" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.RazaoSocial)</span>
            </div>
            <div class="col-md-2">
                <label>Data Negociação</label>
                <div class='input-group'>
                    @Html.TextBoxFor(m => m.DataNegociacao, new { Class = "form-control date", id = "txtDataNegociacao" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span class="text-danger">@Html.ValidationMessageFor(m => m.DataNegociacao)</span>
            </div>
            <div class="col-md-2">
                <label>*Data Inicio Contrato</label>
                <div class='input-group'>
                    @Html.TextBoxFor(m => m.DataInicioContrato, new { Class = "form-control date", id = "txtDataInicio" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span class="text-danger">@Html.ValidationMessageFor(m => m.DataInicioContrato)</span>
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col-md-2">
                <label>*Prazo Pagamento RBR</label>
                @Html.DropDownListFor(m => m.MesesPagamentoRBR, Model.ListaPrazoPagamentoRBR, "-Selecione-", new { Class = "form-control", id = "optPrazoPagamentoRBR" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.MesesPagamentoRBR)</span>
            </div>
            <div class="col-md-1">
                <label>*MarkUP</label>
                @Html.TextBoxFor(m => m.MarkUP, new { id = "txtMarkUP", Class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.MarkUP)</span>
            </div>
            <div class="col-md-1">
                <label>Desconto</label>
                @Html.TextBoxFor(m => m.Desconto, new { Class = "form-control", id = "txtDesconto", Readonly = "readonly", Style = "font-size:13px" })
            </div>
            <div class="col-md-2">
                <label>*Guelta</label>
                @Html.DropDownListFor(m => m.Guelta, Model.ListaGuelta, new { Class = "form-control", id = "optGuelta" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Guelta)</span>
            </div>
            <div class="col-md-3">
                <label>*Prazo Pagamento NetLine</label>
                @Html.DropDownListFor(m => m.MesesPagamentoNetline, Model.ListaPrazoPagamentoNetLine, "-Selecione-", new { Class = "form-control", id = "optPrazoPagamentoNetline" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.MesesPagamentoNetline)</span>
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col-md-3">
                @Html.TextAreaFor(m => m.Obervacao, new { Class = "form-control", id = "txtObservacao", placeholder = "Observação..." })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Obervacao)</span>
            </div>

            <div class="col-md-2">
                <input type="submit" value="Cadastrar" id="btnCadastrar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}