@model Projeto.WEB.Areas.AreaRestrita.Models.Cliente.CadastroViewModel
@{
    Layout = "~/Areas/AreaRestrita/Views/_Shared/_Layout.cshtml";
}

<script src="~/Scripts/Cliente/cadastro.js"></script>

<h4>Cadastro Cliente</h4>
<h6>(*) Campos obrigatórios</h6>
<hr />

@using (Html.BeginForm("Cadastro", "Cliente", FormMethod.Post, new { id = "formClienteCadastro" }))
{
    @Html.AntiForgeryToken()

    if (TempData["Sucesso"] != null)
    {
        if ((bool)TempData["Sucesso"])
        {
            <div class="alert alert-success text-center form-group-lg"><strong>@TempData["Resultado"]</strong></div>

            if (Model.Acao.ToString() == "Cadastrar" && Model.IdTransacao != null)
            {
            <div class="pull-left">
                <a href="/AreaRestrita/Cliente/Cadastro/" class="btn btn-success btn-sm" id="btnCadastrarNovoCliente">Cadastrar Novo Cliente</a>
            </div>
                <div class="pull-right">
                    <a href="/AreaRestrita/SemCampanha/Cadastro/@Model.IdTransacao" class="btn btn-primary btn-sm" id="btnCadastrarModalidadeComercial">Cadastrar Modalidade Comercial</a>
                </div>
            }

        }
        else
        {
            <div class="alert alert-danger text-center form-group-lg"><strong>@TempData["Resultado"]</strong></div>
        }

    }

    @Html.HiddenFor(m => m.IdTransacao, new { id = "idTransacao" })
    @Html.HiddenFor(m => m.EnderecoCadastro.IdEndereco, new { id = "idEnderecoCadastro" })
    @Html.HiddenFor(m => m.EnderecoCobranca.IdEndereco, new { id = "idEnderecoCobranca" })
    @Html.HiddenFor(m => m.EnderecoEntrega.IdEndereco, new { id = "idEnderecoEntrega" })

    <div class="col-md-12">
        <div class="row">

            <div class="col-md-2">
                <label>*Classe:</label>
                @Html.EnumDropDownListFor(m => m.Classe, "- Selecione -", new { Class = "form-control", id = "optClasse" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Classe)</span>
            </div>
            <div class="col-md-3">
                <label>*Agente</label>
                @Html.DropDownListFor(m => m.IdAgente, Model.ListagemRepresentante, "- Selecione -", new { Class = "form-control", id = "optAgente" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.IdAgente)</span>
            </div>
            <div class="col-md-3">
                <label>*Promotor</label>
                @Html.DropDownListFor(m => m.IdPromotor, Model.ListagemRepresentante, "- Selecione -", new { Class = "form-control", id = "optPromotor" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.IdPromotor)</span>
            </div>
            <div class="col-md-3">
                <label>*CNPJ</label>
                @Html.TextBoxFor(m => m.Cnpj, new { Class = "form-control", id = "txtCnpj", placeholder = "Digite aqui" })
                <input type="button" id="btnConsultaCNPJ" class="btn btn-success btn-xs" value="Consultar pelo CNPJ" />
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Cnpj)</span>
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col-md-4">
                <label>*Razão Social</label>
                @Html.TextBoxFor(m => m.RazaoSocial, new { Class = "form-control", id = "txtRazaoSocial", placeholder = "Digite aqui" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.RazaoSocial)</span>
            </div>
            <div class="col-md-4">
                <label>Nome Fantasia</label>
                @Html.TextBoxFor(m => m.NomeFantasia, new { Class = "form-control", id = "txtNomeFantasia", placeholder = "Digite aqui" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.NomeFantasia)</span>
            </div>
            <div class="col-md-2">
                <label>Coligar ao Codun</label>
                @Html.TextBoxFor(m => m.Codun, new { Class = "form-control", id = "txtCodun", placeholder = "Digite aqui" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Codun)</span>
            </div>

            @if (Model.IdTransacao != null)
            {
                <div class="col-md-2">
                    <label>CodCliente</label>
                    @Html.TextBoxFor(m => m.Codun, new { Class = "form-control", id = "txtCodCliente", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.Codun)</span>
                </div>
            }
        </div>

        <div class="row" style="margin-top:15px">
            <div class="col-md-3">
                <label>*Inscrição Estadual</label>
                @Html.TextBoxFor(m => m.InscricaoEstadual, new { Class = "form-control", id = "txtInscEstadual", placeholder = "Digite aqui" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.InscricaoEstadual)</span>
            </div>
            <div class="col-md-3">
                <label>*Inscrição Municipal</label>
                @Html.TextBoxFor(m => m.InscricaoMunicipal, new { Class = "form-control", id = "txtInscMunicipal", placeholder = "Digite aqui" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.InscricaoMunicipal)</span>
            </div>
        </div>

        <hr />

        <div class="enderecoCadastro">
            <div class="row">
                <label>*Endereco Cadastro</label>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3">
                    <label>*Logradouro</label>
                    @Html.TextBoxFor(m => m.EnderecoCadastro.Logradouro, new { Class = "form-control", id = "cadastro_Logradouro", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCadastro.Logradouro)</span>
                </div>
                <div class="col-md-2">
                    <label>*Número</label>
                    @Html.TextBoxFor(m => m.EnderecoCadastro.Numero, new { Class = "form-control", id = "cadastro_Numero", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCadastro.Numero)</span>
                </div>
                <div class="col-md-2">
                    <label>Complemento</label>
                    @Html.TextBoxFor(m => m.EnderecoCadastro.Complemento, new { Class = "form-control", id = "cadastro_Complemento", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCadastro.Complemento)</span>
                </div>
                <div class="col-md-2">
                    <label>*Bairro</label>
                    @Html.TextBoxFor(m => m.EnderecoCadastro.Bairro, new { Class = "form-control", id = "cadastro_Bairro", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCadastro.Bairro)</span>
                </div>
                <div class="col-md-2">
                    <label>*Munícipio</label>
                    @Html.TextBoxFor(m => m.EnderecoCadastro.Municipio, new { Class = "form-control", id = "cadastro_Municipio", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCadastro.Municipio)</span>
                </div>
                <div class="col-md-1">
                    <label>*UF</label>
                    @Html.TextBoxFor(m => m.EnderecoCadastro.UF, new { Class = "form-control", id = "cadastro_UF", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCadastro.UF)</span>
                </div>
            </div>

            <div class="row" style="margin-top:15px">
                <div class="col-md-2">
                    <label>*CEP</label>
                    @Html.TextBoxFor(m => m.EnderecoCadastro.Cep, new { Class = "form-control", id = "cadastro_CEP", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCadastro.Cep)</span>
                </div>
                <div class="col-md-3">
                    <label>E-mail</label>
                    @Html.TextBoxFor(m => m.EnderecoCadastro.Email, new { Class = "form-control", id = "cadastro_Email", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCadastro.Email)</span>
                </div>
                <div class="col-md-2">
                    <label>Telefone1</label>
                    @Html.TextBoxFor(m => m.EnderecoCadastro.Telefone1, new { Class = "form-control", id = "cadastro_Telefone1", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCadastro.Telefone1)</span>
                </div>
                <div class="col-md-2">
                    <label>Telefone2</label>
                    @Html.TextBoxFor(m => m.EnderecoCadastro.Telefone2, new { Class = "form-control", id = "cadastro_Telefone2", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCadastro.Telefone2)</span>
                </div>
            </div>
        </div>

        <hr />

        <div class="enderecoCobranca">
            <div class="row">
                <label>*Endereco de Cobrança</label><br />
                @Html.CheckBoxFor(m => m.CobrancaIgualCadastro, new { id = "check_CobrancaIgualCadastro" }) Igual ao endereco de cadastro
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3">
                    <label>*Logradouro</label>
                    @Html.TextBoxFor(m => m.EnderecoCobranca.Logradouro, new { Class = "form-control cobranca", id = "cobranca_Logradouro", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCobranca.Logradouro)</span>
                </div>
                <div class="col-md-2">
                    <label>*Número</label>
                    @Html.TextBoxFor(m => m.EnderecoCobranca.Numero, new { Class = "form-control cobranca", id = "cobranca_Numero", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCobranca.Numero)</span>
                </div>
                <div class="col-md-2">
                    <label>Complemento</label>
                    @Html.TextBoxFor(m => m.EnderecoCobranca.Complemento, new { Class = "form-control cobranca", id = "cobranca_Complemento", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCobranca.Complemento)</span>
                </div>
                <div class="col-md-2">
                    <label>*Bairro</label>
                    @Html.TextBoxFor(m => m.EnderecoCobranca.Bairro, new { Class = "form-control cobranca", id = "cobranca_Bairro", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCobranca.Bairro)</span>
                </div>
                <div class="col-md-2">
                    <label>*Munícipio</label>
                    @Html.TextBoxFor(m => m.EnderecoCobranca.Municipio, new { Class = "form-control cobranca", id = "cobranca_Municipio", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCobranca.Municipio)</span>
                </div>
                <div class="col-md-1">
                    <label>*UF</label>
                    @Html.TextBoxFor(m => m.EnderecoCobranca.UF, new { Class = "form-control cobranca", id = "cobranca_UF", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCobranca.UF)</span>
                </div>
            </div>

            <div class="row" style="margin-top:15px">
                <div class="col-md-2">
                    <label>*CEP</label>
                    @Html.TextBoxFor(m => m.EnderecoCobranca.Cep, new { Class = "form-control cobranca", id = "cobranca_CEP", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCobranca.Cep)</span>
                </div>
                <div class="col-md-3">
                    <label>E-mail</label>
                    @Html.TextBoxFor(m => m.EnderecoCobranca.Email, new { Class = "form-control cobranca", id = "cobranca_Email", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCobranca.Email)</span>
                </div>
                <div class="col-md-2">
                    <label>Telefone1</label>
                    @Html.TextBoxFor(m => m.EnderecoCobranca.Telefone1, new { Class = "form-control cobranca", id = "cobranca_Telefone1", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCobranca.Telefone1)</span>
                </div>
                <div class="col-md-2">
                    <label>Telefone2</label>
                    @Html.TextBoxFor(m => m.EnderecoCobranca.Telefone2, new { Class = "form-control cobranca", id = "cobranca_Telefone2", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoCobranca.Telefone2)</span>
                </div>
            </div>
        </div>

        <hr />

        <div class="enderecoEntrega">
            <div class="row">
                <label>*Endereco de Entrega</label><br />
                @Html.CheckBoxFor(m => m.EntregaIgualCadastro, new { id = "check_EntregaIgualCadastro" }) Igual ao endereco de cadastro<br />
                @Html.CheckBoxFor(m => m.EntregaIgualCobranca, new { id = "check_EntregaIgualCobranca" }) Igual ao endereco de cobrança<br />
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3">
                    <label>*Logradouro</label>
                    @Html.TextBoxFor(m => m.EnderecoEntrega.Logradouro, new { Class = "form-control entrega", id = "entrega_Logradouro", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoEntrega.Logradouro)</span>
                </div>
                <div class="col-md-2">
                    <label>*Número</label>
                    @Html.TextBoxFor(m => m.EnderecoEntrega.Numero, new { Class = "form-control entrega", id = "entrega_Numero", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoEntrega.Numero)</span>
                </div>
                <div class="col-md-2">
                    <label>Complemento</label>
                    @Html.TextBoxFor(m => m.EnderecoEntrega.Complemento, new { Class = "form-control entrega", id = "entrega_Complemento", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoEntrega.Complemento)</span>
                </div>
                <div class="col-md-2">
                    <label>*Bairro</label>
                    @Html.TextBoxFor(m => m.EnderecoEntrega.Bairro, new { Class = "form-control entrega", id = "entrega_Bairro", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoEntrega.Bairro)</span>
                </div>
                <div class="col-md-2">
                    <label>*Munícipio</label>
                    @Html.TextBoxFor(m => m.EnderecoEntrega.Municipio, new { Class = "form-control entrega", id = "entrega_Municipio", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoEntrega.Municipio)</span>
                </div>
                <div class="col-md-1">
                    <label>*UF</label>
                    @Html.TextBoxFor(m => m.EnderecoEntrega.UF, new { Class = "form-control entrega", id = "entrega_UF", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoEntrega.UF)</span>
                </div>
            </div>

            <div class="row" style="margin-top:15px">
                <div class="col-md-2">
                    <label>*CEP</label>
                    @Html.TextBoxFor(m => m.EnderecoEntrega.Cep, new { Class = "form-control entrega", id = "entrega_CEP", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoEntrega.Cep)</span>
                </div>
                <div class="col-md-3">
                    <label>E-mail</label>
                    @Html.TextBoxFor(m => m.EnderecoEntrega.Email, new { Class = "form-control entrega", id = "entrega_Email", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoEntrega.Email)</span>
                </div>
                <div class="col-md-2">
                    <label>Telefone1</label>
                    @Html.TextBoxFor(m => m.EnderecoEntrega.Telefone1, new { Class = "form-control entrega", id = "entrega_Telefone1", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoEntrega.Telefone1)</span>
                </div>
                <div class="col-md-2">
                    <label>Telefone2</label>
                    @Html.TextBoxFor(m => m.EnderecoEntrega.Telefone2, new { Class = "form-control entrega", id = "entrega_Telefone2", placeholder = "Digite aqui" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.EnderecoEntrega.Telefone2)</span>
                </div>
            </div>
            <hr />
        </div>

        <div class="row" style="margin-top:15px">
            <div class="col-md-4">
                @Html.TextAreaFor(m => m.Observacao, new { Class = "form-control", id = "txtObservacao", placeholder = "Observação..." })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Cadastrar" id="btnCadastrar" class="btn btn-primary" />
            </div>
        </div>

    </div>



}
